body {
  background-color: #f4ebd0;
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
}
#root {
  max-width: 720px;
  margin: 32px auto 0 auto;
}

.title {
  color: #122620;
  width: 100%;
  height: 64px;
  text-align: center;
}

.app-div {
  display: flex;
  border: #d6ad60 solid 2px;
  border-radius: 16px;
  padding: 10px;
}
.list-container {
  padding: 10px;
  min-width: 200px;
  border: #d6ad60 solid 2px;
  border-radius: 16px;
  background-color: #b68d405f;
}

.info-container {
  padding: 20px;
}
